body,html{
    margin: 0;
    padding: 0;
    background: #eeeded;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
p{
    font-size:18px;
    font-weight: 600;
}
.header{
    background: #fff;
    padding: 20px 0;
    margin-bottom: 40px;
    box-shadow: 5px 9px 16px rgba(0,0,0,0.3);
}
.bus-board{
    position: relative;
    height: 400px;
    background: #FF4136;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 5px 15px 27px rgba(0,0,0,0.3);
}
.title-board{
    padding: 40px;
    margin: 0;
    color:#fff;
    font-weight: 900;
}
.plank{
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}







/* UI elemenst */
.btn-custom-primary{
    padding: 10px 30px;
    background: #FF4136;
    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 8px 14px rgba(0,0,0,0.3);
    transition: 100ms ease-in-out;
}
.btn-custom-primary:hover{
    box-shadow: 3px 5px 8px rgba(0,0,0,0.4);
    color:white;
}
.form-custom-control{
    font-size: 18px;
    border: none;
    background: #d9d9d9;
    color: white;
    height: 48px;
}